[class*="__container"] {
  max-width: 1940px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  overflow: hidden;
}
[class*="__container--min"] {
  max-width: 1140px;
}
body {
  background: rgb(0, 0, 0);
}

.title-after {
  display: inline-block;
  font-size: 36px;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 133.333333%; /* 48px/36 */
  padding-bottom: 30px;
  position: relative;
  @media (max-width: 1440px) {
    font-size: 30px;
    padding-bottom: 20px;
  }
  @media (max-width: 767.98px) {
    font-size: 22px;
    padding-bottom: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 46%;
    height: 1px;
    background-color: rgb(255, 255, 255);
  }
}

.button {
  display: inline-block;
  padding: 12px 28px;
  color: rgb(255, 255, 255);
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 10%;
  border: 1px solid rgb(255, 255, 255);
  display: inline-block;
  text-transform: uppercase;
  @media (any-hover: hover) {
    &:hover {
      background-color: #1f1f1f;
    }
  }
  @media (max-width: 1440px) {
    padding: 10px 18px;
    font-size: 16px;
  }
  @media (max-width: 768px) {
    padding: 5px 128px;
    font-size: 12px;
  }
}
.clocks {
  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(180px, 260px));
    @media (max-width: 768px) {
      // grid-template-columns: repeat(auto-fill, minmax(120px, 260px));
    }
    gap: 20px 50px;
  }

  &__item {
    font-family: Playfair Display;
    &:hover {
      .clocks__img img {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    padding: 27px 22px 24px;
    background: #191b1c;
    margin-bottom: 25px;
    @media (max-width: 768px) {
      // padding: 17px 3px 14px;
    }
    @media (max-width: 590px) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 133.333333%; /* 24px/18 */
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &__price {
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
    }
  }
}

// ------------------------------header----------------------------------------------------
.header {
  background: #000;
  color: rgb(150, 150, 150);
  &__wrapper {
    display: flex;
    gap: 30px;
  }

  &__container {
  }

  &__container--min {
  }
  .block {
    display: none;
    @media (max-width: 620px) {
      display: block;
    }
  }
  .blockBig {
    @media (max-width: 620px) {
      display: none;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    @media (max-width: 767.98px) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    p,
    span,
    a {
      font-size: 12px;
      line-height: 133.333333%; /* 16px/12 */
      @media (max-width: 767.98px) {
        font-size: 10px;
      }
    }
  }

  &__info {
    display: flex;
    gap: 15px;
    @media (max-width: 767.98px) {
      gap: 5px;
    }
  }

  &__tel {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    @media (max-width: 767.98px) {
      padding-left: 8px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      height: 16px;
      width: 16px;
      background: url("../images/icon/tel.svg");
      background-repeat: no-repeat;
      block-size: cover;
    }
  }

  &__registr {
    button {
      font-size: 12px;
      line-height: 133.333333%;
      position: relative;
      padding-left: 33px;
      @media (max-width: 767.98px) {
        padding-left: 18px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 14px;
        height: 14px;
        cursor: pointer;
        background: url("../images/icon/open.svg");
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 104px;
    @media (max-width: 767.98px) {
      width: 84px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .scroll {
    overflow: hidden;
    max-height: 100vh;
  }

  &__nav {
    @media (max-width: 767.98px) {
      margin-top: 0px;
      padding: 80px 20px 20px;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 70vw;
      height: 50vh;
      background: hsla(0, 0%, 12%, 0.9);
      transform: translateY(-200%);
      transition: all 0.5s ease-in-out;
      opacity: 0;
      overflow: auto;
    }
    &.active {
      @media (max-width: 767.98px) {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    &.active {
      transform: translateY(0);
      opacity: 1;
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
      color: white;
      font-size: 36px;
      font-weight: 700;
      width: 80%;
    }
  }

  &__item {
    flex-shrink: 0;
    padding: clamp(0.313rem, -0.729rem + 2.17vw, 1.875rem)
      clamp(0.5rem, 0.083rem + 0.87vw, 1.125rem)
      clamp(0.313rem, -0.729rem + 2.17vw, 1.875rem)
      clamp(0.5rem, 1.04vw, 1.25rem);
    transition: all ease 0.5s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #1f1f1f;
        color: #ffffff;
      }
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 128.571429%; /* 18px/14 */
    text-transform: uppercase;
  }
}
.logo {
}
.header {
  &__active {
  }

  &__link {
  }
}

.active-header {
  display: flex;
  align-items: center;
  gap: 42px;
  @media (max-width: 767.98px) {
    gap: 18px;
  }

  &__item {
  }
}
.menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  @media (max-width: 767.98px) {
    display: block;
  }
  span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 0.5s;
    &:nth-of-type(2) {
      top: calc(50% - 5px);
    }
    &:nth-of-type(3) {
      top: calc(50% + 5px);
    }
  }
  &.active span:nth-of-type(1) {
    display: none;
  }
  &.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  &.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}

// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
.porten {
  //   min-height: 600px;
  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100vh;
    position: relative;
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 47.9988rem) {
      height: 80vh;
    }
  }

  &__background {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__frame {
    height: clamp(13.75rem, 9.583rem + 8.68vw, 20rem);
    width: clamp(13.75rem, 9.583rem + 8.68vw, 20rem);
    border: 4px solid rgb(255, 255, 255);
    display: flex;
    gap: 0.4375rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 4px;
  }

  &__city {
    font-size: 22px;
    line-height: 127.272727%; /* 28px/22 */
    text-transform: uppercase;
    @media (max-width: 47.9988rem) {
      font-size: 1.125rem;
    }
  }

  &__text {
    max-width: 730px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    @media (max-width: 47.9988rem) {
      font-size: 0.875rem;
    }
  }
}

// ----------------------------------------------------------------------------------
// ---------------------------------------.sezon2021-------------------------------------------
.sezon2021 {
  @media (max-width: 1910px) {
    padding-bottom: 50px;
  }
  //   padding-bottom: 50px;
  &__container {
    display: flex;
    padding-right: 0px;
    @media (max-width: 1900px) {
      gap: 10px;
    }
    @media (max-width: 1304px) {
      display: block;
    }
  }

  &__clocks {
    padding: 93px 0 93px 80px;
    flex: 0 1 54%;
    @media (max-width: 1900px) {
      padding: 0;
    }
    @media (max-width: 1500px) {
      flex: 0 1 70%;
    }
  }

  &__title {
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  &__wrapper {
  }

  &__items {
    grid-template-columns: repeat(3, minmax(180px, 260px));
    @media (max-width: 1500px) {
      gap: 10px;
    }
    @media (max-width: 590px) {
      grid-template-columns: 320px;
    }
  }

  &__img {
    @media (max-width: 768px) {
      padding: 0px;
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
    @media (max-width: 590px) {
      padding: 10px 30px;
    }
  }

  &__name {
  }

  &__newColection {
    flex: 0 1 46%;
    position: relative;
    @media (max-width: 1500px) {
      margin-top: 80px;
      flex: 0 1 36%;
    }
    @media (max-width: 1024px) {
      position: static;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    @media (max-width: 1304px) {
      width: 100%;
      position: relative;
      margin-left: 100px;
    }
    @media (max-width: 1050px) {
      margin-left: 0px;
    }
    img {
      position: absolute;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__info {
    padding-top: 484px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: end;

    @media (max-width: 1910px) {
      padding-top: 404px;
      button {
        margin-bottom: 10px;
      }
    }
    @media (max-width: 1900px) {
      padding-top: 304px;
    }
    @media (max-width: 1500px) {
      padding-top: 204px;
    }
    @media (max-width: 1324px) {
      padding-top: 304px;
    }
    @media (max-width: 600px) {
      padding-top: 204px;
    }
    @media (max-width: 500px) {
      padding-top: 154px;
    }
  }
}

// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
.sezon2018 {
  &__container {
    display: flex;
    align-items: center;
    gap: clamp(1.875rem, -19.688rem + 23.96vw, 9.063rem);
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      padding-top: 10px;
    }
  }
  &__img {
    flex: 0 1 48%;
    min-height: 300px;
    @media (max-width: 1024px) {
      flex: 0 1 48%;
      height: 300px;
      overflow: hidden;
    }
    img {
      @media (max-width: 1024px) and (min-width: 730px) {
        height: 360px;
      }

      max-width: 100%;
      object-fit: cover;
    }
  }

  &__contant {
    flex: 0 1 32%;
    max-width: 625px;
    text-align: center;
    @media (max-width: 1600px) {
      flex: 0 1 50%;
    }
  }

  &__text {
    margin-bottom: clamp(1.25rem, -7rem + 9.17vw, 4rem);
    font-size: 14px;
    line-height: 1.5;
    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }
}
.sezon2018-title {
  padding-bottom: clamp(1.25rem, -2.5rem + 4.17vw, 2.5rem);
  margin-bottom: clamp(1.25rem, -2.5rem + 4.17vw, 2.5rem);
  @media (max-width: 1200px) {
    font-size: 26px;
  }
}

// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
.newCatalog {
  &__container {
    @media (max-width: 435px) {
      margin-top: -30px;
    }
    @media (max-width: 405px) {
      margin-top: -50px;
    }
    @media (max-width: 405px) {
      margin-top: -90px;
    }
  }

  &__container--min {
    padding-top: clamp(1.25rem, -1.591rem + 7.58vw, 7.5rem) px;
    padding-bottom: clamp(1.25rem, -1.611rem + 9.15vw, 9.375rem);
  }
  &__title {
    padding-top: clamp(1.25rem, -2.336rem + 8.2vw, 7.5rem);
    margin-bottom: clamp(1.875rem, -0.208rem + 4.34vw, 5rem);
    left: 50%;
    transform: translateX(-50%);
  }
  &__items {
    gap: 22px;
    @media (max-width: 560px) {
      grid-template-columns: 320px;
    }
  }

  &__item {
    &:last-child {
      &__img {
        position: relative;
        &::before {
          content: content;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: #191b1c;
        }
      }
    }
  }
  &__btn {
    background-color: #00000063;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    @media (max-width: 1440px) {
      font-size: 14px;
    }
    @media (max-width: 768px) {
      padding: 8px 20px;
    }
  }

  &__img {
  }

  &__name {
  }
}
.clocks {
  &__list {
  }

  &__item {
  }

  &__img {
    &--btn {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(25, 27, 28, 0.5);
      }
    }
  }

  &__title {
  }

  &__price {
  }
}
.pclocks {
  &__price {
  }
}

// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
.articles {
  background: rgb(15, 15, 15);
  padding-top: clamp(1.563rem, -1.152rem + 4.24vw, 3.938rem);
  @media (max-width: 500px) {
    margin-top: -15px;
  }
  @media (max-width: 450px) {
    margin-top: -22px;
  }

  &__title {
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 57px;
    @media (max-width: 767.98px) {
      font-size: 26px;
      margin-bottom: 27px;
      padding-bottom: 15px;
    }
    @media (max-width: 500px) {
      font-size: 22px;
      margin-bottom: 27px;
      padding-bottom: 15px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: clamp(1.875rem, -19.688rem + 23.96vw, 9.063rem);
    &:not(:last-child) {
      margin-bottom: 35px;
      @media (max-width: 1150px) {
        margin-bottom: 45px;
      }
    }
    @media (max-width: 1150px) {
      flex-direction: column-reverse;
    }
  }

  &__img {
    flex: 0 1 51.5%;
    img {
      max-width: 100%;
    }
    @media (max-width: 1150px) {
      flex: 0 1 41.5%;
    }
  }

  &__content {
    flex: 0 1 33%;
    @media (max-width: 1666px) {
      flex: 0 1 48%;
    }
    @media (max-width: 1150px) {
      flex: 0 1 58%;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 127.777778%; /* 23px/18 */
    letter-spacing: 10%;
    margin-bottom: 14px;
    //  @media (max-width: 767.98px) {
    // 	font-size: 16px;
    //  }
  }
  &__text {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__broad {
    display: flex;
    align-items: end;
    gap: 20px 10px;
    justify-content: space-between;
    @media (max-width: 730px) {
      flex-direction: column-reverse;
      button {
        width: 80%;
      }
      span {
        font-size: 10px;
      }
    }
  }
}
.title-after {
}
.button {
}
.bread-crumbs {
  display: flex;
  gap: 13px;
}

// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
.partners {
  padding: clamp(1.25rem, -0.739rem + 5.3vw, 5.625rem)
    clamp(2.5rem, -3.892rem + 17.05vw, 16.563rem)
    clamp(1.25rem, -1.392rem + 7.05vw, 7.063rem);

  &__container {
  }
  &__title {
    margin-bottom: clamp(0.938rem, -0.163rem + 3.52vw, 4.063rem);
    margin-left: 50%;
    transform: translateX(-50%);
    @media (max-width: 460px) {
      width: 100%;
    }
  }
}
.partners__title.title-after {
  text-align: center;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
.partners__swiper {
  padding-bottom: 20px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
}
.swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}

.partners__swiper-wrapper {
  display: flex;
  align-items: center;
}
.partners__swiper-slide {
  img {
    max-width: 100%;
    object-fit: cover;
  }
}

// ----------------------------------------------------------------------------------
.aboutUs {
  background: url("../images/fon.jpeg");

  &__container {
    padding-top: clamp(1.25rem, -1.25rem + 5.21vw, 5rem);
    padding-bottom: clamp(1.25rem, -0.708rem + 4.08vw, 4.188rem);
    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  &__container--min {
    display: flex;
    gap: 30px;

    @media (max-width: 1440px) {
      gap: 30px 15px;
    }
    @media (max-width: 1150px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px 50px;
    }
    @media (max-width: 850px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    @media (max-width: 768px) {
      display: block;
    }
  }

  &__compani {
    flex: 0 1 31%;
    @media (max-width: 1150px) {
      flex: 0 1 100%;
    }
  }

  &__title {
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 133.333333%; /* 32px/24 */
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (max-width: 1000px) {
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

  &__categori {
    flex: 0 1 30%;
    @media (max-width: 850px) {
      flex: 0 1 33%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__item {
    background: #0f0f0f;
    padding: 10px 20px;
    &:hover {
      background-color: #1f1f1f;
    }
  }

  &__link {
    color: rgb(208, 208, 208);
    font-size: 14px;
    line-height: 1.5;
  }

  &__form {
    flex: 0 1 31%;
    margin-left: clamp(1.25rem, -1.607rem + 4.46vw, 3.75rem);
    @media (max-width: 850px) {
      margin-left: 0;
      flex: 0 1 48%;
    }

    form {
      display: flex;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
}
.about {
  &__text {
    font-size: 14px;
    line-height: 150%;
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__input {
    padding: 16px;
    background: rgba(255, 255, 255, 0.4);
    flex: 0 0 210px;
    @media (max-width: 768px) {
      padding: 4px;
      flex: 0 0 100%;
      gap: 5px;
    }
    &::placeholder {
      color: rgb(150, 150, 150);
    }
  }
}
.button--form {
  background: #0f0f0f;
  border: none;
}

// ----------------------------------------------------------------------------------
.footer {
  padding: 17px 0;
  @media (max-width: 850px) {
    padding: 5px 0;
  }

  &__container--min {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 700px) {
      font-size: 12px;
    }
    @media (max-width: 400px) {
      font-size: 10px;
    }
    p:last-child {
      text-decoration: underline;
    }
  }
}
.none {
  display: none;
}
